body {
  font-family: "Open Sans", sans-serif;
  background-color: #47006B;
}

h1, h2, h3, .card-body>.card-title {
  font-family: "Lobster", cursive;
}

.card-title {
  font-weight: 500;
  font-size: 1.25rem;
}

.carousel-caption {
  color: #BB45E6;
  background-color: rgba(0, 0, 0, 0.75);
}

.card-body {
  background-color: #7F00AD;
  color: #470061;
}

h2 {
    color: #A500E0;
}

#events {
    color: #A500E0;
}

#menu {
  color: #A500E0;
  text-align: left;
}

.card-img-overlay .card-title {
  color: #7F00AD;
  background-color: rgba(0, 0, 0, 0.5);
}

.row-content {
  padding: 50px 0;
  border-bottom: 1px ridge;
  min-height: 200px;
}

.site-footer {
  background-image: linear-gradient(#470061, black);
  padding: 20px 0;
}

#header {
  color: purple;
}

.jumbotron {
  margin: 0;
  padding: 30px;
  background-image: linear-gradient(to right, #4F1D61, #7F00AD, #470061);
  color: #BB45E6;
}

.jumbotron h2 {
  color: #A500E0;
}

.navbar-light {
  background-color: #470061;
}